@using MyBlogApp.Models
@model MyBlogApp.Models.Article

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div>
    <div class="page-header">
        <h2>@Html.DisplayFor(model => model.Title) </h2>
    </div>
    <p class="text-muted">
        @Html.DisplayNameFor(model => model.Category.CategoryName)
        @if (Model.Category != null)
        {
            @Html.ActionLink(Model.Category.CategoryName, "Details", new { id = Model.Category.Id, Controller = "Categories" })
        }
        else
        {
            <span>なし</span>
        }
    </p>
    <div class="lead">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="text-reset text-muted">
        @Html.DisplayNameFor(model => model.Created);
        @Html.DisplayFor(model => model.Created);

        @Html.DisplayNameFor(model => model.Modified);
        @Html.DisplayFor(model => model.Modified);

        @if (User.IsInRole("Owners"))
        {
            @Html.ActionLink("更新", "Edit", new { id = Model.Id }, new { @class = "btn btn-xs btn-info" })
            @Html.ActionLink("削除", "Delete", new { id = Model.Id }, new { @class = "btn btn-xs btn-danger" })
        }

    </div>
    <hr />

    @using (Html.BeginForm("CreateCommnet", "Articles"))
    {
        @Html.AntiForgeryToken();
        @Html.Hidden("ArticleId", Model.Id)


        <div class="form-group">
            @Html.TextArea("Body", "", new { @class = "from-control", placeholder = "コメント", rows = 3 });
        </div>
        <input type="submit" value="投稿" class="btn btn-default" />
    }

    @foreach(var item in Model.Commests)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.DisplayFor(model => item.Body)
            </div>
            <div class="panel-footre text-right">
                <span class="text-muted">
                    @Html.DisplayNameFor(mopdel => item.Created);
                    @Html.DisplayFor(mopdel => item.Created);
                </span>
                @if (User.IsInRole("Owners"))
                {
                    @Html.ActionLink("削除", "DeleteComment", new { id = item.Id }, new { @class="btn btn-xs btn-danger" })
                }
            </div>
        </div>
    }


</div>